html, body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 20vh;
    max-font-size: 6vw;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button {
    font-family: 'Amatic SC', cursive;
    font-size: 15vh;
    background-color: white;
    min-width: 25vw;
    color: black;
    border: 5px double #555555;
    cursor: pointer;
    transition: transform .3s;
}

.main-button:hover {
    transform: scale(1.1);
}